@model BibliotekaInternetowa.Models.Book
<h2>Usuń książkę</h2>
<h3>Czy na pewno chcesz usunąć tę książkę?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Tytuł</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Autor</dt>
        <dd class="col-sm-10">@Model.Author</dd>
        <dt class="col-sm-2">ISBN</dt>
        <dd class="col-sm-10">@Model.ISBN</dd>
        <dt class="col-sm-2">Dostępne</dt>
        <dd class="col-sm-10">@Model.AvailableCopies / @Model.TotalCopies</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </form>
</div>